
<div>
    <div >
        <label class=" control-label" style="float: left">Time of record: &nbsp;</label>

        <div>
            <p ><span style="color: #3276b1">{{ geoMarker.time }}</span></p>
        </div>
    </div>
    <div >
        <label class=" control-label" style="float: left">User's email : &nbsp;</label>

        <div>
            <p ><span style="color: #3276b1">{{ geoMarker.usermail }}</span></p>
        </div>
    </div>
    <form role="form" name="myForm">


        <div class="form-group">
            <label for="rekkan">Rekkan numer:</label>
            <input style="color:#4E72E4; font-weight: bold;border-color: #4E72E4"type="number" class="form-control" id="rekkan" placeholder="Enter rekkan numer" name="rekkan" min="1"
                   maxlength="6" ng-model="geoMarker.rekkan"/>

        </div>
        <div class="form-group">
            <label for="Comment">Comment:</label>
            <input style="color:#4E72E4; font-weight: bold;border-color: #4E72E4;  "type="text" class="form-control" id="Comment" placeholder="Comment" name="comment" ng-model="geoMarker.comment"/>

        </div>
        <!--<div class="form-group">
            <label for="siminn">Siminn</label>
            <input type="tel" class="form-control" id="siminn" placeholder="Sima numer" name="siminn" ng-model="od.siminn"/>

        </div>-->
        <!--<div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
        </div>-->
        <!--   <div class="checkbox">
               <label>
                   <input type="checkbox"> Check me out
               </label>
           </div>-->
        <button type="button" style="color:#001e7e; font-weight: bold;border-color:#001e7e"  class="btn btn-default btn-lg btn-block" ng-disabled="myForm.$pristine" ng-click="save()">
           Save
        </button>
        <p></p>
        <button type="button" style="color:#b11a38; font-weight: bold;border-color:#b11a38" class="btn btn-default btn-lg btn-block" ng-disabled="myForm.$invalid" ng-click="delete()">
            Delete
        </button>
        <p></p>
        <a ng-href="#/googleMap/"> <button type="button" style="color:#e8d531; font-weight: bold;border-color:#e8d531"  class="btn btn-default btn-lg btn-block" >
            Cancel
        </button>
        </a>
    </form
            >

</div>
